<!--
<header id="topo">
    <nav id="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item" role="presentation" aria-controls="home" role="tab" data-toggle="tab">
                <a class="nav-link " aria-current="page" href="http://localhost:8080">Login</a>
            </li>
            <li class="nav-item" role="presentati" aria-controls="home" role="tab" data-toggle="tab">
                <a class="nav-link " href="http://localhost:8080/registro">Cadastro</a>
            </li>
        </ul>
    </nav>
</header>
-->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/181/181534.png" alt="" width="30" height="24">
    </a>
  </div>
</nav>