
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Área</title>

    <style>
        body, html{
            height: 100%;
            margin: 0%;
        }
        .inp{
            width: 365px;
        }
        .cad{
            margin: 5px;
        }
        .text{
            margin-bottom: 25px;
        }

        /*Menssagens de alertas*/

        .content{
            width: 50%;
        }
        .alert-msg{
            
            display: flex;
            text-align:center;
            justify-content: center;
            align-items: center;
            
        }

        /*Estilo do background*/
         .stl-bg{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background: linear-gradient( 45deg, #084177, #cd8d7b, #fbc490);
            background-size: 300% 300%;
            animation: colors 15s ease infinite;
        }
        @keyframes colors{
            0%{
                background-position: 0% 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }
        }
    </style>
</head>
<body class="stl-bg">
    <div class="alert-msg">
    {{#if error}}
        <div class="alert alert-danger content">{{error}}</div>
    {{else}}

    {{/if}}
    
    </div>

    {{>_msg}}
    {{{body}}}

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</html>