/*Menssagens de alertas*/
/* .content{
    width: 100%;
  
    position: absolute;
}
.alert-msg{
    position: absolute;
    top: 10px;
    width: 50%;
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;  
} */