<style>
   @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

    /* Alterando nav (bootstrap) */
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        border-radius: 0%;
        background-color: transparent !important;
        border:none !important;
        border-bottom: 4px solid #7FFFD4 !important;
        outline: none !important;
        color: #e1e1e1 !important;
        font-weight: bold !important;
        
        padding-left: 0;
        padding-right: 0;
    }
    .nav-link{
        color: gray !important;
    }
    .nav-link:focus, .nav-link:hover{
        color: #e1e1e1 !important;
        font-weight: bold !important;

        padding-right: 0;
        margin: 0;
    }

    /*Modificando Button bootstrap*/
    .btn{
        width: 195px !important;
        height: 60px !important;
        border-radius: 2.25rem !important;

        color: #e1e1e1 !important;
        font-size: 17px;
        font-weight: bold;
    }
    .btn-access{
        background-color: #00005C;
        border: none;
    }
    .col ul li button{
        padding: 8px 3px 3px 3px;
    }
    .col ul li{
        padding-right: 30px;
    }

    /*Card de login/cadastro*/
    .container-card-lenght{
        width: 1026px !important;
        height: 450px;

        padding: 0 !important;
    }

    /*padding formulário*/
    .padding-top-form{
        padding-top: 36px;
    }

    /*input Login*/
    .input-novo{
        width: 121%;
        height: 40px;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid #e1e1e1;
        outline: none;
        color: #fff;
    }
    input::placeholder{
        color: #e1e1e1;
    }

    /*Centralizando imagem*/
    .logo-h-center{
        display: flex;
        justify-content: center;
    }
    .logo-total{
        display: grid;
        height: 95px;
    }
    .logo{
        display: grid;
        justify-content: right;
    }
    .logo-h-center .logo-total .logo h1{
        font-size: 4rem;
        font-family: 'Quicksand';
        font-weight: 700;
        color: #e1e1e1;
    }
    .p-logo{
        margin: 0;
        display: grid;
        justify-content: right;
        font-size: 26px;
        font-family:'Quicksand';
    }

    /*Espaçamento*/
    .space-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 25px 0px 16px 0;
    }

    /*Modificando parágrafo*/
    p{
        font-size: 14px;  
        color: #e1e1e1; 
    }
    .p-social{
        font-size: 16px;
        padding-top: 25px;
    } 

    /*Borda/Icone*/
    .border{
        display: grid;
        border: solid #00005C 1px !important;
        border-radius: 15px;
        height: 60px;
        width: 60px;
    }
    i{
        display: grid !important;
        justify-content: center;
        align-items: center;
        font-size: 40px !important;
        color: #00005C;
    }
</style>

<div class="container container-card-lenght">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills ul-top" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">LOGIN</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">CADASTRO</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form action="telaAcesso/loginCadastro" method="POST" class="padding-top-form">
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <input type="email" class="input-novo" name="email" id="email" maxlength="30" placeholder="E-mail" autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-3" style="padding-top: 25px;">
                            <div class="col-sm-10">
                                <input type="password" class="input-novo" id="inputPassword3" name="senha" id="senha" min="4" max="8" maxlength="8" placeholder="Senha">
                            </div>
                        </div>

                        <div class="space-flex" style="padding-top: 25px;">
                            <p><strong>ESQUECI MINHA SENHA</strong></p>
                            <p><strong>ESQUECI MEU NOME DE USUÁRIO</strong></p>
                        </div>

                        <p class="p-social">Se preferir, entre com uma rede social:</p>
                        <div class="space-flex">
                            <span class="border"><i class="fa fa-google"></i></span>
                            <button type="submit" class="btn btn-access">ENTRAR</button>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form class="row g-3">
                        <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                        </div>
                        <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                        </div>
                        <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                            Check me out
                            </label>
                        </div>
                        </div>
                        <div class="col-12">
                        <button type="submit" class="btn btn-success">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col logo-h-center">
            <div class="logo-total">
                <div class="logo">
                    <h1>onStudy</h1>
                </div>

                <p class="p-logo">Estudando sistema de</p>
                <p class="p-logo">login com node.js</p>
            </div>
        </div>
    </div>
</div>
